* {
    padding: 20px;
    margin: 0;
}

.body {
    font-family: 'poppins', sans-serif;
    background: whitesmoke;
    padding: 50px;
}

.h1 {
    text-align: center;
    font-size: 2cap;
    font-family: 'poppins', sans-serif;
    font-weight: 700px;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    width: 250px;
}

.button {
    padding: 10px 15px;
    background: teal;
    columns: white;
    border: none;
    color: bisque;
    border-radius: 2px;
    cursor: pointer;
}

.ul {
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.li {
    background: white;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
